body{
    background-color: white;
    max-height: 100vh;
    padding-top: 50px;
   
}

.main {
    background-color: white;
    min-height: 80vh;
 
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.logo{
    width:25%;
}

.innerdiv{
    min-height: 60vh;
    background-color: white;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 5px 0px 3px 5px rgba(105,105,105,0.6);
}

.heading{
    font-size: 35px;
    font-weight: bolder;
    color: #1A3966;
    padding-right: 50px;
    
}

.headingtwo{
    font-size: 1.2em;
    font-weight: bolder;
    color: #1A3966;

    
}

.content{
    padding-right:70px;
}

.formdiv{
    background-color: white;
    min-height: 50vh;
    margin-top: 30px;
    width: 90%;
    box-shadow: 3px 0px 3px 3px rgba(105,105,105,0.6);
    border-radius: 5px;
}

.label{
    font-size:13px;
}

.forgot{
    font-size:13px;
   
    color: #1A3966;
}

.forgot:hover{
    color:black;
}

.submit {
    text-align: right;
    float: right;
    border: 1px outset #10456B;
    background: lightgrey;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.footer{
    background-color: rgb(226, 225, 225);
    min-height: 100px;
 
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 3px solid lightgrey;

}

.footerp {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
}

.footertwo{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    background-color: #1A3966;
    color:white;
}

/* media */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    body{
        background-color: black;
        max-height: 100vh;
        padding-top: 0px;
    }
    
    .innerdiv{
        min-height: 80vh;
        background-color: white;
        margin-top: 30px;
        border-radius: 15px;
        box-shadow: 5px 0px 3px 5px rgba(105,105,105,0.6);
    }

    .buttondiv{
        margin-top: 30px;
    }

    .heading{
        font-size: 20px;
        font-weight: bolder;
        color: #1A3966;
        padding-right: 50px;
        
    }
 
  }